<h2>Begun {{story.created_at|timesince}} ago</h2>
<a href="{%if full%}{%url show_story story.pk%}{%else%}{%url read_story story.pk%}{%endif%}">
    {%if full%}
    Read story line by line
    {%else%}
    Read as paragraph
    {%endif%}
</a>
{%if not full%}
<ol>
    {%for paragraph in story.paragraphs.all%}
    <li>
        {{paragraph.content}}
        (added <time datetime="{{paragraph.created_at}}">{{paragraph.created_at|timesince}}</time> ago)
    </li>
    {%endfor%}
</ol>
{%else%}
<p>
    {{story.as_paragraph|linebreaks}}
</p>
{%endif%}
{%if story.is_open%}
    <a href="{%url continue_story story.pk%}">And then...</a>
{%endif%}
