<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"0>

    <title>AndThen</title>
    <style type="text/css" media="screen">
    body {
        margin-top: 1.0em;
        background-color: #fafafa;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 1.5em;
        color: #444;
        margin: 0 auto;
        width: 700px;
    }
    </style>
</head>
<body>
    <header>
        <h1><a href="{%url home%}">AndThen</a></h1>
        <nav>
            <a href="#">Crear</a>
            <a href="#">Agregar</a>
            <a href="#">Leer</a>
        </nav>
    </header>
    {%block content%}
    {%endblock content%}
</body>
</html>
